
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
<h2>Hakkımda Menüsü</h2>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Şehir</th>
        </tr>
        <tr>
            <td>#</td>
            <td>Gani</td>
            <td>Öztürk</td>
            <td>Tekirdağ</td>
        </tr>
    </table>
</div>