@model List<CVProjectMvc.Models.Entity.Sertifika>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                                <div class="tab-pane" id="timeline">
                                    <div class="timeline timeline-inverse">
                                    @foreach (var item in Model)
                                    {
                                        <div>
                                            <i class="fas fa-trophy bg-warning"></i>
                                            <div class="timeline-item">
                                                <div class="timeline-body">
                                                    @item.Sertifika1
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="/Sertifika/SertifikaGuncelle/@item.ID" class="btn btn-primary btn-sm">Düzenle</a>
                                                    <a href="/Sertifika/SertifikaSil/@item.ID" class="btn btn-danger btn-sm">Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    </div>
                                </div>
                            </div>
                                    <a href="/Sertifika/SertifikaEkle/" class="btn btn-primary">Sertifika Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>