@model List<CVProjectMvc.Models.Entity.Iletisim>

<section class="resume-section" id="contact">

    <div class="resume-section-content">
        <form method="post">
            <h2 class="mb-5">İletİşİm</h2>
            <label>Ad Soyad</label>
            <input type="text" class="form-control" style="width: 40%" name="AdSoyad"/>
            <br />
            <label>Mail</label>
            <input type="text" class="form-control" style="width: 40%" name="Mail"/>
            <br />
            <label>Konu</label>
            <input type="text" class="form-control" style="width: 40%" name="Konu"/>
            <br />
            <label>Mesaj</label>
            <input type="text" class="form-control" name="Mesaj"/>
            <br />
            <button class="btn btn-primary" onclick="alert('Mesaj İletildi')">Mesaj Gönder</button>
        </form>
    </div>
</section>